<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BusinessLayer.Properties.Settings>
            <setting name="BusinessLayer_localhost_WebService1" serializeAs="String">
                <value>http://localhost:56415/WebService1.asmx</value>
            </setting>
        </BusinessLayer.Properties.Settings>
    </applicationSettings>
</configuration>